Repository FUA26/naiera_landing: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lefthook.yml:

# Lefthook configuration
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{js,jsx,ts,tsx}"
      run: pnpm lint:fix {staged_files}
      stage_fixed: true
    format:
      glob: "*.{js,jsx,ts,tsx,json,md,css}"
      run: pnpm format {staged_files}
      stage_fixed: true
    type-check:
      run: pnpm type-check

commit-msg:
  commands:
    commitlint:
      run: npx commitlint --edit {1}

fix: move messages folder to src/messages to fix dynamic import path
  src/messages/en.json
  src/messages/id.json
Due: format

feat: implement language switcher for English and Indonesian with locale-based routing
  app/[locale]/layout.tsx
  app/[locale]/page.tsx
  app/layout.tsx
  components/header.tsx
  components/language-switcher.tsx
  src/middleware.ts
Due: lint, format

refactor: move data table to reusable components folder v0.6.1
  app/demo/table/columns.tsx
  app/demo/table/data-table-action-bar.tsx
  app/demo/table/data-table-pagination.tsx
  app/demo/table/page.tsx
  app/demo/table/tasks-action-bar.tsx
  app/demo/table/tasks-toolbar.tsx
  components/data-table/data-table-action-bar.tsx
  components/data-table/data-table-column-header.tsx
  components/data-table/data-table-date-filter.tsx
  components/data-table/data-table-faceted-filter.tsx
  components/data-table/data-table-pagination.tsx
  components/data-table/data-table-view-options.tsx
  components/data-table/data-table.tsx
  components/data-table/index.ts
Due: lint, format

feat: implement Accessibility Widget with text scaling, contrast modes, and more
  app/globals.css
  app/layout.tsx
  components/shared/accessibility-widget.tsx
  messages/en.json
  messages/id.json
Due: lint, format

feat: implement support pages (FAQ, Guide, Contact, Complaints) and update navigation links
  app/(support)/faq/page.tsx
  app/(support)/kontak/page.tsx
  app/(support)/panduan/page.tsx
  app/(support)/pengaduan/page.tsx
  components/layout/landing-footer.tsx
  components/layout/mega-menu.tsx
  components/ui/accordion.tsx
  components/ui/card.tsx
  components/ui/tabs.tsx
  components/ui/textarea.tsx
  messages/en.json
  messages/id.json
Due: lint, format

refactor: migrate all hardcoded colors to CSS variables for theme consistency
  app/(government)/pemerintahan/profil/page.tsx
  app/(support)/faq/page.tsx
  app/(support)/kontak/page.tsx
  app/(support)/pengaduan/page.tsx
  app/demo/table/components/edit-task-dialog.tsx
  app/demo/table/components/export-dropdown.tsx
  app/demo/table/components/view-task-sheet.tsx
  app/globals.css
  app/informasi-publik/[slug]/page.tsx
  app/informasi-publik/agenda-kegiatan/page.tsx
  app/informasi-publik/apbd/page.tsx
  app/informasi-publik/berita-terkini/page.tsx
  app/informasi-publik/destinasi-wisata/page.tsx
  app/informasi-publik/galeri-foto/page.tsx
  app/informasi-publik/page.tsx
  app/informasi-publik/peraturan-daerah/page.tsx
  app/informasi-publik/ppid/page.tsx
  app/informasi-publik/publikasi/page.tsx
  app/layanan/[slug]/page.tsx
  app/layanan/page.tsx
  app/login/page.tsx
  app/register/page.tsx
  components/feature/dashboard/section-cards.tsx
  components/layout/landing-footer.tsx
  components/layout/landing-header.tsx
  components/layout/mega-menu.tsx
  components/layout/top-bar.tsx
  components/sections/app-download-section.tsx
  components/sections/events-section.tsx
  components/sections/features-section.tsx
  components/sections/hero-section.tsx
  components/sections/news-section.tsx
  components/sections/services-section.tsx
  components/shared/language-switcher.tsx
  docs/color-system.md
Due: lint, format

feat: implement directory-based service data system
  app/layanan/layanan-page-client.tsx
  app/layanan/page.tsx
  app/page.tsx
  components/sections/services-section-client.tsx
  components/sections/services-section-server.tsx
  data/services/README.md
  data/services/categories.json
  data/services/disaster.json
  data/services/economy.json
  data/services/education.json
  data/services/environment.json
  data/services/government.json
  data/services/health.json
  data/services/infrastructure.json
  data/services/manpower.json
  data/services/multisector.json
  data/services/population.json
  data/services/ppid.json
  data/services/social.json
  data/services/tourism.json
  lib/services-data.ts
Due: lint, format

docs: update service README with showInMenu documentation
  data/services/README.md
Due: format

feat: implement dynamic megamenu with shared layouts
  app/(government)/layout.tsx
  app/(support)/layout.tsx
  app/informasi-publik/[slug]/page.tsx
  app/informasi-publik/agenda-kegiatan/[slug]/page.tsx
  app/informasi-publik/berita-terkini/[slug]/page.tsx
  app/informasi-publik/layout.tsx
  app/layanan/[slug]/page.tsx
  app/layanan/layout.tsx
  app/page.tsx
  components/layout/landing-header.tsx
  components/layout/mega-menu-client.tsx
  components/layout/service-icon-map.tsx
  data/services/categories.json
  data/services/disaster.json
  data/services/economy.json
  data/services/education.json
  data/services/health.json
Due: lint, format

feat: add SSO integration status classification for services
  app/(government)/pemerintahan/dprd/page.tsx
  app/(government)/pemerintahan/kecamatan-desa/page.tsx
  app/(government)/pemerintahan/perangkat-daerah/page.tsx
  app/(government)/pemerintahan/profil/page.tsx
  app/(government)/pemerintahan/struktur/page.tsx
  app/(support)/faq/page.tsx
  app/(support)/kontak/page.tsx
  app/(support)/panduan/page.tsx
  app/(support)/pengaduan/page.tsx
  app/informasi-publik/agenda-kegiatan/page.tsx
  app/informasi-publik/apbd/page.tsx
  app/informasi-publik/berita-terkini/page.tsx
  app/informasi-publik/destinasi-wisata/page.tsx
  app/informasi-publik/galeri-foto/page.tsx
  app/informasi-publik/page.tsx
  app/informasi-publik/peraturan-daerah/page.tsx
  app/informasi-publik/ppid/page.tsx
  app/informasi-publik/publikasi/page.tsx
  app/layanan/[slug]/page.tsx
  app/layanan/[slug]/service-detail-client.tsx
  app/layanan/layanan-page-client.tsx
  app/layanan/page.tsx
  components/ui/chart.tsx
  components/ui/resizable.tsx
  data/services/disaster.json
  data/services/economy.json
  data/services/education.json
  data/services/environment.json
  data/services/government.json
  data/services/health.json
  data/services/infrastructure.json
  data/services/manpower.json
  data/services/multisector.json
  data/services/population.json
  data/services/ppid.json
  data/services/social.json
  data/services/tourism.json
  lib/services-data.ts
Due: lint, format

docs: add design for accessibility widget fix and n8n chat UI update
  docs/plans/2025-02-18-accessibility-chat-widget-design.md
Due: format

docs: add implementation plan for accessibility widget fix and chat UI update
  docs/plans/2025-02-18-accessibility-chat-implementation.md
Due: format

feat: add n8n chat widget and fix accessibility widget hydration
  .claude/settings.json
  .env.example
  CLAUDE.md
  app/api/chat/route.ts
  app/login/page.tsx
  components/providers/index.tsx
  components/shared/accessibility-widget.tsx
  components/shared/n8n-chat.tsx
  n8n-chat-workflow-with-ai.json
  n8n-chat-workflow.json
  pnpm-lock.yaml
  src/env.ts
Due: lint, format

feat: add Docker deployment configuration for staging
  .dockerignore
  Dockerfile
  docker-compose.staging.yml
  docs/DEPLOYMENT.md
  next.config.ts
  scripts/deploy-staging.sh
Due: lint, format

chore: add staging environment template
  .env.staging.example
Due: none
